<!DOCTYPE html>
<html lang="en">
<head>
<title>User Active {{userId}}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Butcherman" rel="stylesheet">
</head>
<div style="margin: 0px;" id="newLayout">
    <div class="row">
        <div class="col-sm-10 col-md-10">
          <h2 class="text-center" id="welcomeTour">Welcome To Tournament</h2>
        </div>
        <div class="col-sm-2 col-md-2">
          <a href="/logout" class="btn btn-default" role="button">Logout</a>
        </div>
    </div>
</div>
<div>
    {{{body}}}
</div>
<script src="http://localhost:3000/tournamentajax.js"></script>
</body>
</html>
