

<% for(var i=0;i<pairing.length;i++) { %>
     <button class="players"><%= pairing[i] %></button>
  </a>
<% } %>




<!DOCTYPE html>
<html lang="en">
<head>
  <title>Current Standing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
      <h2>Basic Table</h2>
      <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0;i<current.length;i++){%>
            <tr>
              <td><%= current[i].player_name %></td>
              <td><%= current[i].player_name %></td>
            </tr>
            <%}%>
        </tbody>
        </table>
    </div>
</body>
</html>

