<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Current Standing</h1>

<%for(var i=0;i<current.length;i++){%>
<table>
    <tr style="padding: 20px"><a href="#">
    <th style="padding: 20px"><%= current[i].player_name %></th>
    <th style="padding: 20px"><%= current[i].POINTS %></th>
    </a></tr>
<table>
<%}%>

<p>My first paragraph.</p>

</body>
</html>

<% %>
