<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>

<%for(var i=0;i<current.length;i++){%>
    <a href="#"><%= current[i] %></a>
<%}%>

<p>My first paragraph.</p>

</body>
</html>
