<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rounds</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://localhost:3000/demo.js" ></script>
</head>
<body>


  <div class="jumbotron text-center">
    <h1>GET READY FOR ROUND</h1>
  </div>


  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>First Player</th>
          <th>Second Player</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0;i<fixture.length;i++){%>
        <tr>
          <td><%= fixture[i++].player_name %></td>
          <td><%= fixture[i].player_name %></td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <div>
       <button type="button" class="btn btn-primary active total" name="<%= fixture.length %>">
       Start Match
       </button>
       </button>
    </div>
  </div>



  <form method='post' target="_blank" id="sub" action='/api/getPlayerStandings'>
    <input class='hidden' type="text" hidden value=<%= fixture[0].tour_id %> name='tourId'>
    <input class='hidden' type="text" id="round" hidden value = "" name='rounds'>
    <button type="submit" class="hidden">Start Match </button>
  </form>


  <div class="insertPlayer">
      <P></P>
  </div>
</body>
</html>
