<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <!-- <img src="/home/dev/Downloads/node501/views/imageTournament.png" class="img-responsive" alt="Mountain View"> -->
                <h1 style="text-align:center">WELCOME TO SWISS TOURNAMENT</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                <a href="/login"><button style="width:100%" class="btn btn-primary">Login</button></a>
            </div>
            <div class="col-md-6">
               <a href="/register"><button style="width:100%" class="btn btn-primary">Sign Up</button></a>
            </div>
            </div>
        </div>
    </div>
    </body>
</html>
