<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="http://localhost:3000/demo.js"></script>
</head>
<body>


  <div class="container-fluid">
    <div class="container-fluid">
    <div class="jumbotron text-center">
    <h1>Lets Begin</h1>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <form method='post' action='/api/registerPlayers'>
          <div class="form-group">
            <input class='hidden' type="text" hidden value=<%= tourId %> name='tourId'>
            <input type="text" placeholder="Enter player Name" name='player_name'>
          </div>
          <button type="submit" class="btn btn-default">Add Players</button>
        </form>
        <form method='post' action='/api/getAllPlayers'>
          <div class="form-group">
            <input class='hidden' type="text" hidden value=<%= tourId %> name='tourId'>
          </div>
          <button type="submit" class="btn btn-default">Get All Players</button>
        </form>
        <form method='post' action='/api/getFixture'>
          <div class="form-group">
            <input class='hidden' type="text" hidden value="1" name="rounds">
            <input class='hidden' type="text" hidden value=<%= tourId %> name='tourId'>
          </div>
          <button type="submit" class="btn btn-default">Fixture</button>
        </form>
        <form action='/api/currentStatus' method='post'>
          <div class="form-group">
            <input class='hidden' type="text" hidden value=<%= tourId %> name='tourId'>
          </div>
          <button type="submit" class="btn btn-default">Current Status</button>
        </form>
      </div>
      <div class="col-md-8">

      </div>
    </div>
  </div>
</body>
</html>







