<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Players</th>
        <th>Tournament Id</th>
        <th>User Id</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    <%for(var i=0;i<matchresult.length;i++){%>
      <tr>
        <td><%= matchresult[i].player_name %></td>
        <td><%= matchresult[i].tour_id %></td>
        <td><%= matchresult[i].user_id %></td>
        <td><%= matchresult[i].POINTS %></td>
      </tr>
    <%}%>
    </tbody>
  </table>
</div>

</body>
</html>
