<!DOCTYPE html>
<html><head>
<title>Bootstrap Resize Layout</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="http://localhost:3000/bootstrap-vertical-grid.css" />
<style>
.container-fixed { border: 1px solid red; }
.col {
  border: 1px solid #ccc;
  text-align: center;
}
</style>
</head><body>
<div class="container-fixed">
  <div class="row row-xs-2">
    <div class="col col-xs-12">North</div>

  </div><div class="row row-xs-10">
    <div class="col col-xs-5">
      <h2>Points Table</h2>
      <table class="table">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0;i<current.length;i++){%>
            <tr>
              <td><%= current[i].player_name %></td>
              <td><%= current[i].POINTS %></td>
            </tr>
            <%}%>
        </tbody>
        </table>

    </div>
    <div class="col col-xs-4">Center</div>
    <div class="col col-xs-5">East</div>
  </div><div class="row row-xs-1">
    <div class="col col-xs-12">South</div>
  </div>
</div>
</body></html>
