<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tournament</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome to Tournament</h1>
  <p>Want to Start Tournament</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>ENTER THE NAME OF TOURNAMENT</h2>
      <!-- <p>  <button type="button" class="btn btn-primary">Click Me</button></p> -->
        <form action="subtournament" method="post">
        Tournament Name: <input type="text" name="tour_name"><br>
        User Id: <input type="text" name="id"><br>
        <input type="submit" value="Submit">
        </form>


        <form action="sub_tour_count" method="post">
        <input type="submit" value="View Tournaments">
        </form>
    </div>
    <div class="col-sm-4">

    </div>

  </div>
</div>



<%for(var i=0;i<tour.length;i++){%>
   <button><a href="/inside_game"><%=tour[i].tour_name%></a>
     <a href="/inside_game"><%=tour[i].tour_id%></a>
   </button>
<%}%>

<h3>Plese Enter the Tournament No Corresponding to the Selected Tournament On Next Screen</h3>

</body>
</html>



