<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>CREATE TOURNAMENT</h2>
        <h3>{{result}}</h3>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <input type="text" class="form-control" id="tour_name" placeholder="Tournament" name="tour_name">
            </div>
          </div>
          <div class="col-sm-4">
            <button type="submit" id="usertournament" class="btn btn-default">Add Tournament</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="viewtournament panel panel-success">
    <table class="table table-striped" id="tournamet">
        <thead>
          <tr>
            <th>Tournament Name</th>
            <th>Tournament Status</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</body>
<!-- </html> -->
